body{
    background-color: black;
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
 main img{
    border:5px solid white;
    width:100%;
    box-shadow: 5px 5px 15px blue;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

main img:hover{
    transform: scale(1.1);
    box-shadow:5px 5px 15px red;
}
body{
    background-color: black;
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
 main img{
    border:5px solid white;
    width:100%;
    box-shadow: 5px 5px 15px blue;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

h1:hover,p:hover,main img:hover{
    transform: scale(1.1);
    box-shadow:5px 5px 15px red;
}

h1, p{
    text-align: center;
    text-wrap: pretty;
    color:white;
}

h1{
   text-transform: uppercase;
   font-family: "Libre Baskerville", serif;
   font-size:3rem;
   text-shadow:1px 1px 2px white,
   0 0 1em blue,
   0 0 2em green;
   display:block;
   transition: transform 0.5 ease;
}

h1, p{
    text-align: center;
    text-wrap: pretty;
    color:white;
}

h1{
   text-transform: uppercase;
   font-family: "Libre Baskerville", serif;
   font-size:3rem;
   text-shadow:1px 1px 2px white,
   0 0 1em blue,
   0 0 2em green;
   transition: transform 0.6s ease;
}

p{
    text-shadow:1px 1px 3px red,
    0 0 1em yellow,
    0 0 2em green;
    transition: transform 0.5s ease;
}
