body{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

table{
    width:80%;
    border-collapse:collapse;
    border:2px solid black;
    transition: transform 0.5s ease;
}

table:hover{
    box-shadow:5px 5px 10px blue;
    transform: scale(1.1);
}

tr ,td ,th{
    border:2px solid;
    text-align: center;
}
th{
    background-color: grey;
}

td{
    background-color:lightgray;
}