body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

span{
  display:block;
}

.card{
  width:40%;
}

.left{
  float:left;
}

.right{
  float:right;
}

.card img{
  width:250px;
  float:left;
  margin-right:30px;
}

footer {
  text-align: right;
  color: midnightblue;
  clear:both;
}

@media (width<=650px){
  .logo{
    width:100px;
  }

  h1{
    font-size:3.4rem;
    text-align: center;
  }

  .card{
    display: block;
    width:100%;
    margin-bottom:30px;
    text-align:justify;
  }

  .card img{
    width:100%;
    margin-bottom: 10px;
    display:block;
  }
}

